body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #0000ff);
    font-family: Arial, sans-serif;
    color: #FFFF00; /* Color del texto en amarillo fosforescente */
    text-align: center;
}

.container {
    max-width: 800px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    color: #FFFF00; /* Color amarillo fosforescente para el encabezado */
}

.image-container {
    margin: 20px 0;
}

.center-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white; /* Mantiene el color blanco en el borde */
    color: #FFFF00; /* Color amarillo fosforescente en el texto del bot칩n */
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.button:hover {
    background: rgba(255, 255, 255, 0.2); /* Mantiene el fondo semitransparente blanco al pasar el rat칩n */
}

.resized-image {
    max-width: 30%; /* Cambia este valor para hacer la imagen m치s o menos peque침a */
    height: auto;
    border: 2px solid #ffffff; /* Borde blanco */
    border-radius: 8px; /* Esquinas redondeadas */
}
