html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 1.8rem;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.projects {
    display: grid;
    gap: 15px;
}

.project {
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.project:hover {
    background-color: #555;
    transform: scale(1.05);
}

.project:focus {
    outline: 2px solid #ffffff;
}

.description {
    margin-top: 10px;
    display: none;
}

.project:hover .description {
    display: block;
}


.subject:focus {
    outline: 2px solid #ffffff;
}


